<!DOCTYPE HTML>
<!--
	Transitive by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Data Analysis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<script src="https://d3js.org/d3.v4.min.js"></script>
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				{{!-- <div class="logo"><a href="index.hbs">HackCU IV IoT Project</a></div> --}}
				<a href="#menu" class="toggle"><span>Menu</span></a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="../">Home</a></li>
                    <li><a href="">Data Analysis</a></li>					
					<li><a href="../developers">About the Developers</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner">
				<div class="inner">
					<h1>Data Analysis</h1>
                    <p>Graphs and more!</p>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="content">
								<header class="align-center">
									<h2>Humidity Analysis</h2>
								</header>
								<hr />
							</div>
						</div>
						<div class="box">
							<div class="content">
								<header class="align-center">
									<h2>Temperature Analysis</h2>
								</header>
								<hr />
							</div>
						</div>
						<div class="box">
							<div class="content">
								<header class="align-center">
									<h2>Light Analysis</h2>
								</header>
								<hr />
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="wrapper">
				<div class="inner">
					<div class="copyright">
						&copy; John Letey and Kyle Helmick. All Rights Reserved
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/javascripts/jquery.min.js"></script>
			<script src="/javascripts/jquery.scrolly.min.js"></script>
			<script src="/javascripts/jquery.scrollex.min.js"></script>
			<script src="/javascripts/skel.min.js"></script>
			<script src="/javascripts/util.js"></script>
			<script src="/javascripts/main.js"></script>

			<script>
				var temp = [
				{{#each temp}}
				{time: "{{this.time}}", val: {{this.val}} },	
				{{/each}}
				]
				var humid = [
				{{#each humid}}
				{time: "{{this.time}}", val: {{this.val}} },	
				{{/each}}
				]
				var light = [
				{{#each light}}
				{time: "{{this.time}}", val: {{this.val}} },	
				{{/each}}
				]
			</script>

	</body>
</html>